target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/javafx-sdk-24.0.1/legal/javafx.base/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.media/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.web/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/jfx.incubator.input/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/jfx.incubator.richtext/ADDITIONAL_LICENSE_INFO
/javafx-sdk-24.0.1/legal/javafx.base/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.controls/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.fxml/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.graphics/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.media/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.swing/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.web/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/jfx.incubator.input/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/jfx.incubator.richtext/ASSEMBLY_EXCEPTION
/javafx-sdk-24.0.1/legal/javafx.media/directshow.md
/javafx-sdk-24.0.1/legal/javafx.media/glib.md
/javafx-sdk-24.0.1/legal/javafx.media/gstreamer.md
/javafx-sdk-24.0.1/legal/javafx.web/icu_web.md
/javafx-sdk-24.0.1/lib/javafx.base.jar
/javafx-sdk-24.0.1/lib/javafx.controls.jar
/javafx-sdk-24.0.1/lib/javafx.fxml.jar
/javafx-sdk-24.0.1/lib/javafx.graphics.jar
/javafx-sdk-24.0.1/lib/javafx.media.jar
/javafx-sdk-24.0.1/lib/javafx.properties
/javafx-sdk-24.0.1/lib/javafx.swing.jar
/javafx-sdk-24.0.1/lib/javafx.web.jar
/javafx-sdk-24.0.1/lib/javafx-swt.jar
/javafx-sdk-24.0.1/lib/jdk.jsobject.jar
/javafx-sdk-24.0.1/lib/jfx.incubator.input.jar
/javafx-sdk-24.0.1/lib/jfx.incubator.richtext.jar
/javafx-sdk-24.0.1/legal/javafx.graphics/jpeg_fx.md
/lessons.xml
/javafx-sdk-24.0.1/lib/libavplugin-54.so
/javafx-sdk-24.0.1/lib/libavplugin-56.so
/javafx-sdk-24.0.1/lib/libavplugin-57.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-56.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-57.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-58.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-59.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-60.so
/javafx-sdk-24.0.1/lib/libavplugin-ffmpeg-61.so
/javafx-sdk-24.0.1/lib/libdecora_sse.so
/javafx-sdk-24.0.1/legal/javafx.media/libffi.md
/javafx-sdk-24.0.1/lib/libfxplugins.so
/javafx-sdk-24.0.1/lib/libglass.so
/javafx-sdk-24.0.1/lib/libglassgtk3.so
/javafx-sdk-24.0.1/lib/libgstreamer-lite.so
/javafx-sdk-24.0.1/lib/libjavafx_font.so
/javafx-sdk-24.0.1/lib/libjavafx_font_freetype.so
/javafx-sdk-24.0.1/lib/libjavafx_font_pango.so
/javafx-sdk-24.0.1/lib/libjavafx_iio.so
/javafx-sdk-24.0.1/lib/libjfxmedia.so
/javafx-sdk-24.0.1/lib/libjfxwebkit.so
/javafx-sdk-24.0.1/lib/libprism_common.so
/javafx-sdk-24.0.1/lib/libprism_es2.so
/javafx-sdk-24.0.1/lib/libprism_sw.so
/javafx-sdk-24.0.1/legal/javafx.web/libxml2.md
/javafx-sdk-24.0.1/legal/javafx.web/libxslt.md
/javafx-sdk-24.0.1/legal/javafx.base/LICENSE
/javafx-sdk-24.0.1/legal/javafx.controls/LICENSE
/javafx-sdk-24.0.1/legal/javafx.fxml/LICENSE
/javafx-sdk-24.0.1/legal/javafx.graphics/LICENSE
/javafx-sdk-24.0.1/legal/javafx.media/LICENSE
/javafx-sdk-24.0.1/legal/javafx.swing/LICENSE
/javafx-sdk-24.0.1/legal/javafx.web/LICENSE
/javafx-sdk-24.0.1/legal/jdk.jsobject/LICENSE
/javafx-sdk-24.0.1/legal/jfx.incubator.input/LICENSE
/javafx-sdk-24.0.1/legal/jfx.incubator.richtext/LICENSE
/javafx-sdk-24.0.1/legal/javafx.graphics/mesa3d.md
/javafx-sdk-24.0.1/legal/javafx.graphics/pipewire.md
/javafx-sdk-24.0.1/src.zip
/javafx-sdk-24.0.1/legal/jfx.incubator.richtext/unicode-fx.md
/javafx-sdk-24.0.1/legal/javafx.web/webkit.md
